:root {
  --background: #FFF7FE;
  --secondary: #FFCAD4;
  --details: #F4ACB7;
  --text: #F5F5F5;
  --borders: #D8E2DC;
  --test2: #9D8189;
  --test3: #B77880;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-container {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--test2);
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.greetings {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: right;
}
.App-link {
  color: var(--details);
}
/*==========================================*/
/*=================Header=============*/
/*==========================================*/
.header{
  color: var(--text) !important;
  background: var(--test2) !important;
}

.header-search {
display: flex;
justify-content: center;
margin-top: 15px;
}
.header-greetings {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.header-logo{
  height: 60px;
  cursor: pointer !important;

}

/*==========================================*/
/*=================Content=============*/
/*==========================================*/
.content {
  background-color: var(--background);
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.product-card{
  background-color: var(--secondary);
  margin: 10px;
  padding: 10px;
}

/*==========================================*/
/*=================Footer=============*/
/*==========================================*/

.footer {
  color: var(--text) !important;
  background-color: var(--test2) !important;
}

.space-cards{
  margin: 10px;
}

.ant-card-body{
  padding: 0 0 24px 0 !important;
}

.img-fluid{
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.product{
  height: 100vh;
}